<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Bluesky</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>en</string>
      <string>ca</string>
      <string>de</string>
      <string>es</string>
      <string>fi</string>
      <string>fr</string>
      <string>ga</string>
      <string>hi</string>
      <string>hu</string>
      <string>id</string>
      <string>it</string>
      <string>ja</string>
      <string>ko</string>
      <string>pl</string>
      <string>pt</string>
      <string>ru</string>
      <string>th</string>
      <string>tr</string>
      <string>uk</string>
      <string>zh_CN</string>
      <string>zh_HK</string>
      <string>zh_TW</string>
    </array>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.95.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleSpokenName</key>
    <string>Blue Sky</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>bluesky</string>
          <string>xyz.blueskyweb.app</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+bluesky</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Used for profile pictures, posts, and other kinds of content.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Used for posts and other kinds of content.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Used to save images to your library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Used for profile pictures, posts, and other kinds of content</string>
    <key>UIAppFonts</key>
    <array>
      <string>InterVariable.ttf</string>
      <string>InterVariable-Italic.ttf</string>
      <string>Inter-Regular.otf</string>
      <string>Inter-Italic.otf</string>
      <string>Inter-SemiBold.otf</string>
      <string>Inter-SemiBoldItalic.otf</string>
      <string>Inter-ExtraBold.otf</string>
      <string>Inter-ExtraBoldItalic.otf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>fetch</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>